@model FitnessCenter.Entities.RoomFile


<div class="col-md-offset-0 col-md-4" id="@Model.FileName">
    @Html.HiddenFor(model => model.FileName)
    <img class="thumbnail img-responsive" src="@Model.Path2" />
    </div>

