Entities/bin/Debug/Entities.dll
*.pdb
*.cache
Entities/obj/
FitnessCenter.DataAccess/bin/
FitnessCenter.DataAccess/obj/
FitnessCenter.Tests/bin/
FitnessCenter.Tests/obj/
FitnessCenter.v12.suo
FitnessCenter/bin/
FitnessCenter/obj/
FitnessCenter/Content/Images/
DataAccess/Properties/AssemblyInfo.cs
DataAccess/Class1.cs
DataAccess/obj/
FitnessCenter.v11.suo