Entities/bin/Debug/Entities.dll
*.pdb
*.cache
Entities/obj/
FitnessCenter.DataAccess/bin/
FitnessCenter.DataAccess/obj/
FitnessCenter.Tests/bin/Debug/Entities.dll
FitnessCenter.Tests/bin/Debug/EntityFramework.dll
FitnessCenter.Tests/bin/Debug/EntityFramework.xml
FitnessCenter.Tests/bin/Debug/FitnessCenter.DataAccess.dll
FitnessCenter.Tests/bin/Debug/FitnessCenter.dll
FitnessCenter.Tests/bin/Debug/FitnessCenter.Tests.dll
FitnessCenter.Tests/bin/Debug/Microsoft.AspNet.Identity.Core.dll
FitnessCenter.Tests/bin/Debug/FitnessCenter.Tests.dll.config
FitnessCenter.Tests/bin/Debug/Microsoft.AspNet.Identity.EntityFramework.xml
FitnessCenter.Tests/bin/Debug/Microsoft.AspNet.Identity.Owin.dll
FitnessCenter.Tests/bin/Debug/Microsoft.AspNet.Identity.Owin.xml
FitnessCenter.Tests/bin/Debug/Microsoft.Owin.dll
FitnessCenter.Tests/bin/Debug/Microsoft.AspNet.Identity.Core.xml
FitnessCenter.Tests/bin/Debug/Microsoft.Owin.Host.SystemWeb.dll
FitnessCenter.Tests/bin/Debug/Microsoft.Owin.Host.SystemWeb.xml
FitnessCenter.Tests/bin/Debug/Microsoft.Owin.Security.Cookies.dll
FitnessCenter.Tests/bin/Debug/Microsoft.Owin.Security.Cookies.xml
FitnessCenter.Tests/bin/Debug/Microsoft.Owin.Security.dll
FitnessCenter.Tests/bin/Debug/Microsoft.AspNet.Identity.EntityFramework.dll
FitnessCenter.Tests/bin/Debug/Microsoft.Web.Infrastructure.dll
FitnessCenter.Tests/bin/Debug/Newtonsoft.Json.dll
FitnessCenter.Tests/bin/Debug/Owin.dll
FitnessCenter.Tests/bin/Debug/Microsoft.Owin.Security.xml
FitnessCenter.Tests/bin/Debug/Microsoft.Owin.xml
FitnessCenter.Tests/bin/Debug/Newtonsoft.Json.xml
FitnessCenter.Tests/bin/Debug/ru/Microsoft.AspNet.Identity.Core.resources.dll
FitnessCenter.Tests/bin/Debug/ru/Microsoft.AspNet.Identity.EntityFramework.resources.dll
FitnessCenter.Tests/bin/Debug/ru/Microsoft.Owin.resources.dll
FitnessCenter.Tests/bin/Debug/ru/Microsoft.AspNet.Identity.Owin.resources.dll
FitnessCenter.Tests/bin/Debug/ru/Microsoft.Owin.Host.SystemWeb.resources.dll
FitnessCenter.Tests/bin/Debug/ru/System.Web.Optimization.resources.dll
FitnessCenter.Tests/bin/Debug/ru/EntityFramework.resources.dll
FitnessCenter.Tests/bin/Debug/ru/Microsoft.Owin.Security.resources.dll
FitnessCenter.Tests/bin/Debug/ru/System.Web.Helpers.resources.dll
FitnessCenter.Tests/bin/Debug/ru/System.Web.Razor.resources.dll
FitnessCenter.Tests/bin/Debug/ru/System.Web.WebPages.Deployment.resources.dll
FitnessCenter.Tests/bin/Debug/ru/System.Web.WebPages.Razor.resources.dll
FitnessCenter.Tests/bin/Debug/ru/System.Web.Mvc.resources.dll
FitnessCenter.Tests/bin/Debug/System.Web.Helpers.dll
FitnessCenter.Tests/bin/Debug/System.Web.Helpers.xml
FitnessCenter.Tests/bin/Debug/System.Web.Mvc.dll
FitnessCenter.Tests/bin/Debug/System.Web.Mvc.xml
FitnessCenter.Tests/bin/Debug/System.Web.Mvc.xml
FitnessCenter.Tests/bin/Debug/System.Web.Optimization.dll
FitnessCenter.Tests/bin/Debug/ru/System.Web.WebPages.resources.dll
FitnessCenter.Tests/bin/Debug/System.Web.Optimization.xml
FitnessCenter.Tests/bin/Debug/System.Web.Razor.dll
FitnessCenter.Tests/bin/Debug/System.Web.Razor.xml
FitnessCenter.Tests/bin/Debug/System.Web.WebPages.Deployment.dll
FitnessCenter.Tests/bin/Debug/System.Web.WebPages.Deployment.xml
FitnessCenter.Tests/bin/Debug/System.Web.WebPages.dll
FitnessCenter.Tests/bin/Debug/System.Web.WebPages.Razor.dll
FitnessCenter.Tests/bin/Debug/System.Web.WebPages.xml
FitnessCenter.Tests/bin/Debug/System.Web.WebPages.Razor.xml
FitnessCenter.Tests/obj/Debug/build.force
FitnessCenter.Tests/obj/Debug/FitnessCenter.Tests.csproj.FileListAbsolute.txt
FitnessCenter.Tests/obj/Debug/FitnessCenter.Tests.dll
FitnessCenter.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
FitnessCenter.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
FitnessCenter.v12.suo
FitnessCenter.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
FitnessCenter/bin/Antlr3.Runtime.dll
FitnessCenter/bin/Backload.Contracts.dll
FitnessCenter/bin/Backload.Contracts.dll
FitnessCenter/bin/Backload.dll
FitnessCenter/bin/EntityFramework.dll
FitnessCenter/bin/Entities.dll
FitnessCenter/bin/EntityFramework.SqlServer.dll
FitnessCenter/bin/EntityFramework.SqlServer.xml
FitnessCenter/bin/EntityFramework.xml
FitnessCenter/bin/FitnessCenter.dll
FitnessCenter/bin/FitnessCenter.dll.config
FitnessCenter/bin/FitnessCenter.DataAccess.dll
FitnessCenter/bin/Microsoft.AspNet.Identity.Core.dll
FitnessCenter/bin/Microsoft.AspNet.Identity.Core.xml
FitnessCenter/bin/Microsoft.AspNet.Identity.EntityFramework.dll
FitnessCenter/bin/Microsoft.AspNet.Identity.EntityFramework.xml
FitnessCenter/bin/Microsoft.AspNet.Identity.Owin.dll
FitnessCenter/bin/Microsoft.AspNet.Identity.Owin.xml
FitnessCenter/bin/Microsoft.Owin.dll
FitnessCenter/bin/Microsoft.Owin.Host.SystemWeb.xml
FitnessCenter/bin/Microsoft.Owin.Security.Cookies.dll
FitnessCenter/bin/Microsoft.Owin.Security.Cookies.xml
FitnessCenter/bin/Microsoft.Owin.Host.SystemWeb.dll
FitnessCenter/bin/Microsoft.Owin.Security.dll
FitnessCenter/bin/Microsoft.Owin.Security.Facebook.dll
FitnessCenter/bin/Microsoft.Owin.Security.Facebook.xml
FitnessCenter/bin/Microsoft.Owin.Security.Google.dll
FitnessCenter/bin/Microsoft.Owin.Security.Google.dll
FitnessCenter/bin/Microsoft.Owin.Security.Google.xml
FitnessCenter/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
FitnessCenter/bin/Microsoft.Owin.Security.MicrosoftAccount.dll
FitnessCenter/bin/Microsoft.Owin.Security.OAuth.dll
FitnessCenter/bin/Microsoft.Owin.Security.OAuth.xml
FitnessCenter/bin/Microsoft.Owin.Security.Twitter.dll
DataAccess/Properties/AssemblyInfo.cs
DataAccess/Class1.cs