@{
    ViewBag.Title = "Контакты";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>Контакты нашего центра</h3>

<address>
    Фитнесс Центр<br />
    Саратов, ул. Луговая, д.72<br />
    <abbr title="Phone">Телефон:</abbr>
    8(452)99-99-99
</address>

<p>
    <img src="~/Content/Images/contact.png" alt="map" />
</p>

<address>
    <strong>Напишите нам:</strong>   <a href="mailto:Support@example.com">fitness@example.com</a><br />
</address>