@{
    ViewBag.Title = "Домашняя страница";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="jumbotron">
    <h1>Добро пожаловать!</h1>   
</div>

<div class="row">
    <div class="col-md-8">
        <h2></h2>
        <p> Наши преимущества:
            <ul class="list-group">
                <li>Высочайшее качество предоставляемых услуг, самые современные технологии фитнеса</li>
                <li>
                    Большой выбор дополнительных услуг
                </li>
                <li>
                    Разветвленная сеть клубов – возможность удовлетворения всех территориальных предпочтений сотрудников компании
                </li>
                <li>
                    Клубы разной направленности и ценовой категории – возможность вовлечения в фитнес – программу различных категорий
                    сотрудников компании - от топ – менеджмента до персонала офиса
                </li>
                <li>
                    Гибкая ценовая политика – корпоративные скидки
                </li>
                <li>
                    Возможность вовлечения в корпоративный контракт членов семей сотрудников и их детей
                </li>
                <li>
                    Возможность увеличения контрактов – присоединение сотрудников в течение срока действия контракта
                </li>
                <li>
                    Дополнительные скидки при продлении членства
                </li>
                <li>Индивидуальный менеджер</li>
            </ul>
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/Images/f171ae9a-2604-47c3-96db-c29b6db8c1cd.jpg" class="col-md-6" />
        <img src="~/Content/Images/04a7d631-2f19-44f0-9916-6ad1cac0ca21.jpg" class="col-md-6" />
    </div>    
</div>