@{
    ViewBag.Title = "Домашняя страница";
}

<div class="jumbotron">
    <h1>Добро пожаловать!</h1>   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Новости</h2>
        <p>
            Здесь будут размещаться новости.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Подробнее &raquo;</a></p>
    </div>    
</div>