@model IEnumerable<FitnessCenter.Entities.Room>

@{
    ViewBag.Title = "Залы";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Залы</h2>

<div class="col-md-12">

    @foreach (var item in Model)
    {
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@item.Name</h3>
                </div>
                <div class="panel-body">
                    <p>
                        @if (item.FileNames.Count > 0)
                        {
                            <img src="@item.FileNames[0].Path" class="col-md-6" />
                        }

                        @item.Description
                    </p>
                </div>
            </div>
        </div>
    }
</div>
